@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; }

.bg_fiol {
  background-color: #381778;
  color: #fff;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px; }
  .bg_fiol hr {
    border-top: 1px solid rgba(255, 255, 255, 0.35); }

.header_site {
  padding: 15px 0;
  background: #fff;
  border-bottom: 1px solid #ddd;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1001; }

.header_site__content {
  display: flex;
  align-items: center; }
  .header_site__content .fas {
    padding: 10px 0; }
  .header_site__content .logotype {
    max-height: 30px;
    margin: auto;
    display: block; }

#menu_swither {
  display: flex;
  justify-content: center; }

.level_one_text {
  font-size: 18px;
  font-weight: 800; }

.header_site__contacts {
  display: none; }
  .header_site__contacts .info_block {
    flex-direction: column;
    color: #381778; }
    .header_site__contacts .info_block .level_one_text {
      font-size: 18px; }
    .header_site__contacts .info_block .level_two_text {
      font-size: 14px; }

.menu_line {
  display: none;
  width: 100%;
  background: #fff; }

.carousel-caption {
  text-align: left;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 25px 10%;
  background: #00000050; }
  .carousel-caption h5 {
    font-weight: 700;
    font-size: 24px;
    text-shadow: 0 0 5px #000000, -0    0 1px #000000; }
  .carousel-caption p {
    text-shadow: 0 0 5px #000000, -0   0 1px #000000; }

#carouselExampleCaptions {
  width: 100%; }

.carousel-item {
  height: 360px;
  overflow: hidden; }
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.caption_block {
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  justify-content: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #381778;
  margin-bottom: 30px; }

.caption_text {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 15px; }

.category_box {
  width: 100%;
  height: 100%;
  min-height: 130px;
  background-position: center !important;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  text-shadow: 5px 0 10px #000000;
  cursor: pointer; }
  .category_box span {
    text-align: center; }
  .category_box:hover {
    text-shadow: 5px 0 10px #E30B17; }

.soc_block__caption {
  font-size: 18px; }

.soc_block__icon {
  font-size: 30px; }
  .soc_block__icon a {
    color: #fff; }
    .soc_block__icon a:hover {
      color: #E30B17; }

.facts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px; }

.facts_number {
  display: block;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  /* identical to box height */
  text-align: center;
  color: #BE0027; }

.advantages__block {
  overflow: hidden;
  margin-bottom: 35px; }
  .advantages__block img {
    width: 100%;
    height: 150px;
    object-fit: cover; }

.advantages__info {
  background: #381778;
  padding: 15px; }

.advantages__title {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  text-transform: uppercase; }

.advantages__term {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF; }

.grey_bg {
  background: #f1f1f1; }

.black_bg {
  background: #1c1c1c; }

footer .widgets_area {
  font-size: 0.8rem;
  color: #fff; }
footer .caption_text, footer p {
  color: #fff; }
footer .caption_footer_widget {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 15px; }
footer .body_footer_widget {
  font-size: 14px;
  line-height: 19px; }
  footer .body_footer_widget ul {
    list-style: none; }
    footer .body_footer_widget ul li {
      line-height: 30px; }
      footer .body_footer_widget ul li a {
        color: #B0B0B0; }
footer .bottom_line_site {
  background: #373737;
  font-size: 12px;
  height: 30px;
  color: #fff;
  display: flex;
  align-items: center; }
  footer .bottom_line_site .container {
    display: flex;
    justify-content: space-between; }
    footer .bottom_line_site .container a {
      color: #B0B0B0; }

#p_prldr {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 1010; }

.contpre {
  width: 250px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -125px;
  margin-top: -75px;
  color: #fff;
  font-size: 40px;
  letter-spacing: -2px;
  text-align: center;
  line-height: 35px; }
  .contpre small {
    font-weight: 600;
    font-size: 1.2rem;
    color: #381778;
    letter-spacing: 0.05em; }
  .contpre img {
    width: 100%;
    height: auto; }

#p_prldr .svg_anm {
  position: absolute;
  min-height: 60px;
  background: url(../img/logo_ful_color.svg) center center no-repeat;
  background-size: contain;
  margin: -16px 0 0 -16px;
  left: 0;
  right: 0; }

@media (min-width: 992px) {
  .header_site__contacts {
    display: flex; }

  .header_site {
    position: static;
    padding: 0;
    min-height: 130px;
    border: none;
    justify-content: center; }
    .header_site .logotype {
      margin: 0;
      min-height: 60px; }
    .header_site > .container {
      padding: 25px 0; }

  #menu_swither {
    display: none; }

  .menu_line {
    display: flex;
    background: #381778;
    width: 100%;
    background: url("../img/bg_linemenu.png") no-repeat;
    background-position: center center;
    background-size: cover; }
    .menu_line ul {
      display: flex;
      margin: 0;
      list-style: none; }
      .menu_line ul li {
        float: left; }
        .menu_line ul li a {
          display: block;
          font-size: 14px;
          line-height: 19px;
          /* identical to box height */
          text-align: justify;
          color: #fff;
          padding: 20px 15px;
          text-decoration: none;
          letter-spacing: 0.05em; }
          .menu_line ul li a:hover {
            background: #E30B17; } }
.block_prelaoder {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex; }

.dash {
  margin: 0 15px;
  width: 35px;
  height: 15px;
  border-radius: 8px;
  background: #E30B17;
  box-shadow: 0 0 10px 0 #FECDFF; }

.uno {
  margin-right: -18px;
  transform-origin: center left;
  animation: spin 3s linear infinite; }

.dos {
  transform-origin: center right;
  animation: spin2 3s linear infinite;
  animation-delay: .2s; }

.tres {
  transform-origin: center right;
  animation: spin3 3s linear infinite;
  animation-delay: .3s; }

.cuatro {
  transform-origin: center right;
  animation: spin4 3s linear infinite;
  animation-delay: .4s; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(360deg); }
  30% {
    transform: rotate(370deg); }
  35% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes spin2 {
  0% {
    transform: rotate(0deg); }
  20% {
    transform: rotate(0deg); }
  30% {
    transform: rotate(-180deg); }
  35% {
    transform: rotate(-190deg); }
  40% {
    transform: rotate(-180deg); }
  78% {
    transform: rotate(-180deg); }
  95% {
    transform: rotate(-360deg); }
  98% {
    transform: rotate(-370deg); }
  100% {
    transform: rotate(-360deg); } }
@keyframes spin3 {
  0% {
    transform: rotate(0deg); }
  27% {
    transform: rotate(0deg); }
  40% {
    transform: rotate(180deg); }
  45% {
    transform: rotate(190deg); }
  50% {
    transform: rotate(180deg); }
  62% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(360deg); }
  80% {
    transform: rotate(370deg); }
  85% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes spin4 {
  0% {
    transform: rotate(0deg); }
  38% {
    transform: rotate(0deg); }
  60% {
    transform: rotate(-360deg); }
  65% {
    transform: rotate(-370deg); }
  75% {
    transform: rotate(-360deg); }
  100% {
    transform: rotate(-360deg); } }

/*# sourceMappingURL=ruslabel-style.css.map */
