@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; }

.bg_fiol {
  background-color: #381778;
  color: #fff;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px; }
  .bg_fiol hr {
    border-top: 1px solid rgba(255, 255, 255, 0.35); }

.header_site {
  padding: 15px 0;
  background: #fff;
  border-bottom: 1px solid #ddd;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1001; }

.header_site__content {
  display: flex;
  align-items: center; }
  .header_site__content .fas {
    padding: 10px 0; }
  .header_site__content .logotype {
    max-height: 30px;
    margin: auto;
    display: block; }

#menu_swither {
  display: flex;
  justify-content: center; }

.level_one_text {
  font-size: 18px;
  font-weight: 800; }

.header_site__contacts {
  display: none; }
  .header_site__contacts .info_block {
    flex-direction: column;
    color: #381778; }
    .header_site__contacts .info_block .level_one_text {
      font-size: 18px; }
    .header_site__contacts .info_block .level_two_text {
      font-size: 14px; }

.menu_line {
  display: none;
  width: 100%;
  background: #fff; }

.carousel-caption {
  text-align: left;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 25px 10%;
  background: #00000050; }
  .carousel-caption h5 {
    font-weight: 700;
    font-size: 24px;
    text-shadow: 0 0 5px #000000, -0    0 1px #000000; }
  .carousel-caption p {
    text-shadow: 0 0 5px #000000, -0   0 1px #000000; }

#carouselExampleCaptions {
  width: 100%; }

.carousel-item {
  height: 360px;
  overflow: hidden; }
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.caption_block {
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  justify-content: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #381778;
  margin-bottom: 30px; }

.caption_text {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 15px; }

.category_box {
  width: 100%;
  height: 100%;
  min-height: 130px;
  background-position: center !important;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  text-shadow: 5px 0 10px #000000;
  cursor: pointer; }
  .category_box span {
    text-align: center; }
  .category_box:hover {
    text-shadow: 5px 0 10px #BE0027; }

.soc_block__caption {
  font-size: 18px; }

.soc_block__icon {
  font-size: 40px; }
  .soc_block__icon a {
    color: #fff; }
    .soc_block__icon a:hover {
      color: #BE0027; }

.facts {
  display: flex;
  flex-direction: column;
  align-items: center; }

.facts_number {
  display: block;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  /* identical to box height */
  text-align: center;
  color: #BE0027; }

@media (min-width: 992px) {
  .header_site__contacts {
    display: flex; }

  .header_site {
    position: static;
    padding: 0;
    min-height: 130px;
    border: none;
    justify-content: center; }
    .header_site .logotype {
      margin: 0;
      min-height: 60px; }
    .header_site > .container {
      padding: 25px 0; }

  #menu_swither {
    display: none; }

  .menu_line {
    display: flex;
    background: #381778;
    width: 100%;
    background: url("../img/bg_linemenu.png") no-repeat;
    background-position: center center;
    background-size: cover; }
    .menu_line ul {
      display: flex;
      margin: 0;
      list-style: none; }
      .menu_line ul li {
        float: left; }
        .menu_line ul li a {
          display: block;
          font-size: 14px;
          line-height: 19px;
          /* identical to box height */
          text-align: justify;
          color: #fff;
          padding: 20px 15px;
          text-decoration: none;
          letter-spacing: 0.05em; }
          .menu_line ul li a:hover {
            background: #BE0027; } }

/*# sourceMappingURL=ruslabel-style.css.map */
